#snake-container {
  width: 500px;
  margin: 0 auto;
  background: none;
  outlin: 2px solid black;
}

li {
  float: left;
}

ul:first-of-type {
  border-top: 5px solid black;
}

ul:last-of-type {
  border-bottom: 5px solid black;
}

ul {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.square {
  width: 25px;
  height: 25px;
  float: left;
  transition: outline 0.5s, background-color 0.5s;
  cursor: crosshair;
  background-color: white;
  list-style: none;
}

.snake {
  background: green;
}


.title {
  text-align: center;
}

/*body.wacky {
  background: linear-gradient(270deg, #20a582, #a52089);
  background-size: 400% 400%;
  animation: AnimationName 1s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.toolbar {
  position: absolute;
  left: 0px;
  width: 50px;
  border: 1px solid black;
  background: grey;
}

button {
  background: grey;
  width: 55.5px;
  height: 50px;
  margin-bottom: 10px;
}*/

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul.group {
  margin: 0;
  width: 500px;
  padding: 0;
}
